.git
.env
venv
.venv
__pycache__
*.pyc
.pytest_cache
tests
outputs
scripts
*.log

data_tools
data_tools/medgemma
data_tools/medgemma/poc

data/*
!data/oliveyoung_db.json
!data/skin_affecting_drugs.json
!data/demo/
!data/demo/**
